body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "MicrosoftYahei", STXihei, hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent
}
a {
    text-decoration: none;
    color: #222;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div {
    /* 用于定义盒子的宽度值和高度值是否包含元素的内边距和边框 */
    box-sizing: border-box; 
}
.search-index {
    display: flex;
    /* 固定定位跟父级没有关系，它以屏幕为准 */
    position: fixed;
    top: 0;
    left: 50%;
    /* 固定定位的盒子要写宽度 */
    transform: translateX(-50%);
    width: 100%;
    height: 44px;
    min-width: 320px;
    max-width: 540px;
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.search {
    position: relative;
    height: 26px;
    border: 1px solid #ccc;
    flex: 1;
    margin: 6px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #666;
    line-height: 24px;
    padding-left: 25px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
.search::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) no-repeat -59px -279px;
    background-size: 104px auto;
}
.user {
    width: 44px;
    height: 44px;
    font-size: 12px;
    text-align: center;
    color: #2eaae0;
}
.user::before{
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
    margin: 4px auto -2px;
}
.focus {
    padding-top: 44px;
}
.focus img {
    width: 100%;
}
/* 局部导航栏 */
.local-nav {
    display: flex;
    height: 64px;
    background-color: #fff;
    margin: 3px 4px;
    border-radius: 8px;
}
.local-nav li {
    flex: 1;
}
.local-nav a {
    display: flex;
    flex-direction: column;
    /* 侧轴居中对齐 */
    align-items: center;
    font-size: 12px;
}
.local-nav li [class^="local-nav-icon"] {
    width: 32px;
    height: 32px;
    background-color: pink;
    margin-top: 8px;
    background: url(../images/localnav_bg.png) no-repeat 0 0;
    background-size: 32px auto;
}
.local-nav li .local-nav-icon2 {
    background-position:0 -32px;
}
.local-nav li .local-nav-icon3 {
    background-position:0 -64px;
}
.local-nav li .local-nav-icon4 {
    background-position:0 -96px;
}
.local-nav li .local-nav-icon5 {
    background-position:0 -128px;
}
nav {
    overflow: hidden;
    border-radius: 5px;
    margin: 0 4px 3px;
}
.nav-common {
    display: flex;
    height: 88px;
}
.nav-common:nth-child(2) {
    margin: 3px 0;
}
.nav-items {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.nav-items a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
    text-shadow: 1px 1px rgba(0,0,0,.2);
}
.nav-items a:nth-child(1){
    border-bottom: 1px solid #fff;
}
.nav-items:nth-child(1) a {
    border-bottom: 0;
    background: url(../images/hotel.png) no-repeat bottom center;
    background-size: 121px auto;
}
.nav-items:nth-child(-n+2) {
    border-right: 1px solid #fff;
}
.nav-common:nth-child(1) {
    background: -webkit-linear-gradient(left, #fa5a55, #fa994d);
}
.nav-common:nth-child(2) {
    background: -webkit-linear-gradient(left, #4b90ed, #53bced);
}
.nav-common:nth-child(3) {
    background: -webkit-linear-gradient(left, #34c2a9, #6cd559);
}
.subnav-entry {
    display: flex;
    border-radius: 8px;
    margin: 0 4px;
    background-color: #fff;
    flex-wrap: wrap;
    padding: 5px 0;
}
.subnav-entry li {
    flex: 20%; 
}
.subnav-entry a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subnav-entry [class^=subnav-entry-icon] {
    width: 28px;
    height: 28px;
    background: url(../images/subnav-bg.png) no-repeat;
    background-size: 28px auto;
}
.subnav-entry .subnav-entry-icon2 {
    background-position: 0 -32px;
}
.subnav-entry .subnav-entry-icon3 {
    background-position: 0 -60px;
}
.subnav-entry .subnav-entry-icon4 {
    background-position: 0 -92px;
}
.subnav-entry .subnav-entry-icon5 {
    background-position: 0 -120px;
}
.subnav-entry .subnav-entry-icon6 {
    background-position: 0 -148px;
}
.subnav-entry .subnav-entry-icon2 {
    background-position: 0 -32px;
}
.subnav-entry .subnav-entry-icon2 {
    background-position: 0 -32px;
}
.subnav-entry .subnav-entry-icon2 {
    background-position: 0 -32px;
}
.sales-box {
    border-top: 1px solid #ccc;
    background-color: #fff;
    margin: 4px;
}
.sales-hd {
    position: relative;
    height: 44px;
    border-bottom: 1px solid #000;
}
.sales-hd h2 {
    text-indent: -999px;
    overflow: hidden;
}
.sales-hd h2::after {
    position: absolute;
    top: 5px;
    left: 8px;
    content: '';
    width: 79px;
    height: 15px;
    background: url(../images/hot.png) no-repeat 0 -20px;
    background-size: 79px auto;
}
.more {
    position: absolute;
    top: 0px; 
    right: 5px;
    background: -webkit-linear-gradient(left, #ff506c,#ff6bc6);
    border-radius: 15px;
    padding: 3px 20px 3px;
    color: #fff;
}
.more::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 9px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}
.row {
    display: flex;
}
.row a {
    flex: 1;
    border-bottom: 1px solid #ccc;
}
.row a:nth-child(1) {
    border-right: 1px solid #ccc;
}
.row a img {
    width: 100%;
}